body {
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

body::before,
body::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-image: url('cart.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

body::before {
  left: 0;
  background-position: left center;
}

body::after {
  right: 0;
  background-position: right center;
}

h1 {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
}

.game-container {
  position: relative;
  z-index: 2;
}

canvas {
  border: 1px solid black;
  background-color: #87CEEB; /* Sky Blue */
}

@media (max-width: 1600px) {
  body::before,
  body::after {
    display: none;
  }
}